/* Reset all margins, paddings, and box sizing */
/* * { */
/*   margin: 0; */
/*   padding: 0; */
/*   box-sizing: border-box; */
/* } */

html {
    font-size: 16px;
}

body {
    font-family: sans;
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    max-width: 90ch;
    padding: 0 1rem;
}

nav {
    /* padding: 1rem 2rem; */
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.content {
    padding: 0 2rem;
}

ul.archive-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.archive-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

ul.archive-list li:nth-child(odd) {
  background-color: #f2f2f2; /* light pastel gray */
}

blockquote footer {
    display: flex;
    justify-content: flex-end;
}
