<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>

    <body>
        <nav>
            <div class="home">
                <a href="/">rafaelmadriz.com</a>
            </div>
            <div class="nav-links">
                <a href="/blog">archive</a>
                <!-- <a href="/blog">About</a> -->
            </div>
        </nav>

        <main>
            {{ content }}
        </main>
    </body>

</html>
