<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="preload" href="/static/fonts/alegreya-latin-variable-wghtOnly-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/static/fonts/alegreya-latin-variable-wghtOnly-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css" inline>
        {{ if customCSS }}
        <link rel="stylesheet" href="{{ customCSS }}" inline>
        {{ /if }}
    </head>

    <body>
        <div class="navbar">
            <nav>
                <div class="home">
                    <a href="/">~rafaelmadriz.com</a>
                </div>
                <div class="links">
                    <a href="/blog">blog</a>
                    <a href="/todo">todo</a>
                </div>
            </nav>
        </div>

        <main>
            <article>
                {{ content }}
            </article>
        </main>
    </body>

</html>
