{{ layout  "layouts/base.vto" }}

<article class="prose">
    <header>
        <h1>{{ title }}</h1>
    </header>

    {{ if content |> toc }}
    <details open="true">
        <summary>Table of contents</summary>
        <nav class="toc">
            {{ content |> toc }}
        </nav>
    </details>
    {{ /if }}

    {{ content }}

</article>
{{ /layout }}
