{{ layout  "layouts/base.vto" }}

<header>
    <h1>{{ title |> smartypants }}</h1>
    <time datetime="{{ date |> date("DATETIME") }}">{{ date |> date("MMMM dd, yyyy") }}</time>
</header>

{{ set toc = content |> toc }}
{{ if toc.length > 4 }}
<details open="true">
    <summary>Table of contents</summary>
    <nav class="toc">
        {{ toc.list }}
    </nav>
</details>
{{ /if }}

{{ content }}

{{ /layout }}
