:root {
  // https://www.inclusivecolors.com/?style_dictionary=eyJjb2xvciI6eyJiYXNlIjp7ImdyYXkiOnsiNTAiOnsidmFsdWUiOiIjMDMwNzEyIn0sIjEwMCI6eyJ2YWx1ZSI6IiMxMTE4MjcifSwiMjAwIjp7InZhbHVlIjoiIzFmMjkzNyJ9LCIzMDAiOnsidmFsdWUiOiIjMzc0MTUxIn0sIjQwMCI6eyJ2YWx1ZSI6IiM0YjU1NjMifSwiNTAwIjp7InZhbHVlIjoiIzZiNzI4MCJ9LCI2MDAiOnsidmFsdWUiOiIjOWNhM2FmIn0sIjcwMCI6eyJ2YWx1ZSI6IiNkMWQ1ZGIifSwiODAwIjp7InZhbHVlIjoiI2U1ZTdlYiJ9LCI5MDAiOnsidmFsdWUiOiIjZjNmNGY2In0sIjk1MCI6eyJ2YWx1ZSI6IiNmOWZhZmIifX0sInJlZCI6eyI1MCI6eyJ2YWx1ZSI6IiM0NTBhMGEifSwiMTAwIjp7InZhbHVlIjoiIzdmMWQxZCJ9LCIyMDAiOnsidmFsdWUiOiIjOTkxYjFiIn0sIjMwMCI6eyJ2YWx1ZSI6IiNiOTFjMWMifSwiNDAwIjp7InZhbHVlIjoiI2RjMjYyNiJ9LCI1MDAiOnsidmFsdWUiOiIjZWY0NDQ0In0sIjYwMCI6eyJ2YWx1ZSI6IiNmODcxNzEifSwiNzAwIjp7InZhbHVlIjoiI2ZjYTVhNSJ9LCI4MDAiOnsidmFsdWUiOiIjZmVjYWNhIn0sIjkwMCI6eyJ2YWx1ZSI6IiNmZWUyZTIifSwiOTUwIjp7InZhbHVlIjoiI2ZlZjJmMiJ9fSwib3JhbmdlIjp7IjUwIjp7InZhbHVlIjoiIzQzMTQwNyJ9LCIxMDAiOnsidmFsdWUiOiIjN2MyZDEyIn0sIjIwMCI6eyJ2YWx1ZSI6IiM5YTM0MTIifSwiMzAwIjp7InZhbHVlIjoiI2MyNDEwYyJ9LCI0MDAiOnsidmFsdWUiOiIjZWE1ODBjIn0sIjUwMCI6eyJ2YWx1ZSI6IiNmOTczMTYifSwiNjAwIjp7InZhbHVlIjoiI2ZiOTIzYyJ9LCI3MDAiOnsidmFsdWUiOiIjZmRiYTc0In0sIjgwMCI6eyJ2YWx1ZSI6IiNmZWQ3YWEifSwiOTAwIjp7InZhbHVlIjoiI2ZmZWRkNSJ9LCI5NTAiOnsidmFsdWUiOiIjZmZmN2VkIn19LCJ5ZWxsb3ciOnsiNTAiOnsidmFsdWUiOiIjNDIyMDA2In0sIjEwMCI6eyJ2YWx1ZSI6IiM3MTNmMTIifSwiMjAwIjp7InZhbHVlIjoiIzg1NGQwZSJ9LCIzMDAiOnsidmFsdWUiOiIjYTE2MjA3In0sIjQwMCI6eyJ2YWx1ZSI6IiNjYThhMDQifSwiNTAwIjp7InZhbHVlIjoiI2VhYjMwOCJ9LCI2MDAiOnsidmFsdWUiOiIjZmFjYzE1In0sIjcwMCI6eyJ2YWx1ZSI6IiNmZGUwNDcifSwiODAwIjp7InZhbHVlIjoiI2ZlZjA4YSJ9LCI5MDAiOnsidmFsdWUiOiIjZmVmOWMzIn0sIjk1MCI6eyJ2YWx1ZSI6IiNmZWZjZTgifX0sImVtZXJhbGQiOnsiNTAiOnsidmFsdWUiOiIjMDIyYzIyIn0sIjEwMCI6eyJ2YWx1ZSI6IiMwNjRlM2IifSwiMjAwIjp7InZhbHVlIjoiIzA2NWY0NiJ9LCIzMDAiOnsidmFsdWUiOiIjMDQ3ODU3In0sIjQwMCI6eyJ2YWx1ZSI6IiMwNTk2NjkifSwiNTAwIjp7InZhbHVlIjoiIzEwYjk4MSJ9LCI2MDAiOnsidmFsdWUiOiIjMzRkMzk5In0sIjcwMCI6eyJ2YWx1ZSI6IiM2ZWU3YjcifSwiODAwIjp7InZhbHVlIjoiI2E3ZjNkMCJ9LCI5MDAiOnsidmFsdWUiOiIjZDFmYWU1In0sIjk1MCI6eyJ2YWx1ZSI6IiNlY2ZkZjUifX0sImJsdWUiOnsiNTAiOnsidmFsdWUiOiIjMTcyNTU0In0sIjEwMCI6eyJ2YWx1ZSI6IiMxZTNhOGEifSwiMjAwIjp7InZhbHVlIjoiIzFlNDBhZiJ9LCIzMDAiOnsidmFsdWUiOiIjMWQ0ZWQ4In0sIjQwMCI6eyJ2YWx1ZSI6IiMyNTYzZWIifSwiNTAwIjp7InZhbHVlIjoiIzNiODJmNiJ9LCI2MDAiOnsidmFsdWUiOiIjNjBhNWZhIn0sIjcwMCI6eyJ2YWx1ZSI6IiM5M2M1ZmQifSwiODAwIjp7InZhbHVlIjoiI2JmZGJmZSJ9LCI5MDAiOnsidmFsdWUiOiIjZGJlYWZlIn0sIjk1MCI6eyJ2YWx1ZSI6IiNlZmY2ZmYifX0sInB1cnBsZSI6eyI1MCI6eyJ2YWx1ZSI6IiMzYjA3NjQifSwiMTAwIjp7InZhbHVlIjoiIzU4MWM4NyJ9LCIyMDAiOnsidmFsdWUiOiIjNmIyMWE4In0sIjMwMCI6eyJ2YWx1ZSI6IiM3ZTIyY2UifSwiNDAwIjp7InZhbHVlIjoiIzkzMzNlYSJ9LCI1MDAiOnsidmFsdWUiOiIjYTg1NWY3In0sIjYwMCI6eyJ2YWx1ZSI6IiNjMDg0ZmMifSwiNzAwIjp7InZhbHVlIjoiI2Q4YjRmZSJ9LCI4MDAiOnsidmFsdWUiOiIjZTlkNWZmIn0sIjkwMCI6eyJ2YWx1ZSI6IiNmM2U4ZmYifSwiOTUwIjp7InZhbHVlIjoiI2ZhZjVmZiJ9fSwiaW5kaWdvIjp7IjUwIjp7InZhbHVlIjoiIzA4MGIxZiJ9LCIxMDAiOnsidmFsdWUiOiIjMWUyMjQ2In0sIjIwMCI6eyJ2YWx1ZSI6IiMyODJlNWIifSwiMzAwIjp7InZhbHVlIjoiIzMwM2M3MCJ9LCI0MDAiOnsidmFsdWUiOiIjNDA0Yjg5In0sIjUwMCI6eyJ2YWx1ZSI6IiM0ZjVjYjcifSwiNjAwIjp7InZhbHVlIjoiIzc2N2JjZCJ9LCI3MDAiOnsidmFsdWUiOiIjOWY5ZmRkIn0sIjgwMCI6eyJ2YWx1ZSI6IiNiYmJhZTgifSwiOTAwIjp7InZhbHVlIjoiI2NiYzllZCJ9LCI5NTAiOnsidmFsdWUiOiIjZjFmMGZhIn19fX19
  /* Imported palette (2025-12-28T09:49:43.628Z) */
  --color-gray-950: #f9fafb;
  --color-gray-900: #f3f4f6;
  --color-gray-800: #e5e7eb;
  --color-gray-700: #d1d5db;
  --color-gray-600: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-400: #4b5563;
  --color-gray-300: #374151;
  --color-gray-200: #1f2937;
  --color-gray-100: #111827;
  --color-gray-50: #030712;

  --color-red-950: #fef2f2;
  --color-red-900: #fee2e2;
  --color-red-800: #fecaca;
  --color-red-700: #fca5a5;
  --color-red-600: #f87171;
  --color-red-500: #ef4444;
  --color-red-400: #dc2626;
  --color-red-300: #b91c1c;
  --color-red-200: #991b1b;
  --color-red-100: #7f1d1d;
  --color-red-50: #450a0a;

  --color-orange-950: #fff7ed;
  --color-orange-900: #ffedd5;
  --color-orange-800: #fed7aa;
  --color-orange-700: #fdba74;
  --color-orange-600: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-400: #ea580c;
  --color-orange-300: #c2410c;
  --color-orange-200: #9a3412;
  --color-orange-100: #7c2d12;
  --color-orange-50: #431407;

  --color-yellow-950: #fefce8;
  --color-yellow-900: #fef9c3;
  --color-yellow-800: #fef08a;
  --color-yellow-700: #fde047;
  --color-yellow-600: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-400: #ca8a04;
  --color-yellow-300: #a16207;
  --color-yellow-200: #854d0e;
  --color-yellow-100: #713f12;
  --color-yellow-50: #422006;

  --color-emerald-950: #ecfdf5;
  --color-emerald-900: #d1fae5;
  --color-emerald-800: #a7f3d0;
  --color-emerald-700: #6ee7b7;
  --color-emerald-600: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-400: #059669;
  --color-emerald-300: #047857;
  --color-emerald-200: #065f46;
  --color-emerald-100: #064e3b;
  --color-emerald-50: #022c22;

  --color-blue-950: #eff6ff;
  --color-blue-900: #dbeafe;
  --color-blue-800: #bfdbfe;
  --color-blue-700: #93c5fd;
  --color-blue-600: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-400: #2563eb;
  --color-blue-300: #1d4ed8;
  --color-blue-200: #1e40af;
  --color-blue-100: #1e3a8a;
  --color-blue-50: #172554;

  --color-purple-950: #faf5ff;
  --color-purple-900: #f3e8ff;
  --color-purple-800: #e9d5ff;
  --color-purple-700: #d8b4fe;
  --color-purple-600: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-400: #9333ea;
  --color-purple-300: #7e22ce;
  --color-purple-200: #6b21a8;
  --color-purple-100: #581c87;
  --color-purple-50: #3b0764;

  --color-indigo-950: #f1f0fa;
  --color-indigo-900: #cbc9ed;
  --color-indigo-800: #bbbae8;
  --color-indigo-700: #9f9fdd;
  --color-indigo-600: #767bcd;
  --color-indigo-500: #4f5cb7;
  --color-indigo-400: #404b89;
  --color-indigo-300: #303c70;
  --color-indigo-200: #282e5b;
  --color-indigo-100: #1e2246;
  --color-indigo-50: #080b1f;

  --bg: #0f0f15;
  --surface-bg: #11111b;
  --base-fg: var(--color-indigo-900);
  --big-fg: var(--color-indigo-600);
  --link-accent: var(--color-indigo-700);
  --accent-low-ct: var(--color-indigo-100);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Imported palette (2025-12-28T09:50:19.351Z) */
    --color-gray-950: #030712;
    --color-gray-900: #111827;
    --color-gray-800: #1f2937;
    --color-gray-700: #374151;
    --color-gray-600: #4b5563;
    --color-gray-500: #6b7280;
    --color-gray-400: #9ca3af;
    --color-gray-300: #d1d5db;
    --color-gray-200: #e5e7eb;
    --color-gray-100: #f3f4f6;
    --color-gray-50: #f9fafb;

    --color-red-950: #450a0a;
    --color-red-900: #7f1d1d;
    --color-red-800: #991b1b;
    --color-red-700: #b91c1c;
    --color-red-600: #dc2626;
    --color-red-500: #ef4444;
    --color-red-400: #f87171;
    --color-red-300: #fca5a5;
    --color-red-200: #fecaca;
    --color-red-100: #fee2e2;
    --color-red-50: #fef2f2;

    --color-orange-950: #431407;
    --color-orange-900: #7c2d12;
    --color-orange-800: #9a3412;
    --color-orange-700: #c2410c;
    --color-orange-600: #ea580c;
    --color-orange-500: #f97316;
    --color-orange-400: #fb923c;
    --color-orange-300: #fdba74;
    --color-orange-200: #fed7aa;
    --color-orange-100: #ffedd5;
    --color-orange-50: #fff7ed;

    --color-yellow-950: #422006;
    --color-yellow-900: #713f12;
    --color-yellow-800: #854d0e;
    --color-yellow-700: #a16207;
    --color-yellow-600: #ca8a04;
    --color-yellow-500: #eab308;
    --color-yellow-400: #facc15;
    --color-yellow-300: #fde047;
    --color-yellow-200: #fef08a;
    --color-yellow-100: #fef9c3;
    --color-yellow-50: #fefce8;

    --color-emerald-950: #022c22;
    --color-emerald-900: #064e3b;
    --color-emerald-800: #065f46;
    --color-emerald-700: #047857;
    --color-emerald-600: #059669;
    --color-emerald-500: #10b981;
    --color-emerald-400: #34d399;
    --color-emerald-300: #6ee7b7;
    --color-emerald-200: #a7f3d0;
    --color-emerald-100: #d1fae5;
    --color-emerald-50: #ecfdf5;

    --color-blue-950: #172554;
    --color-blue-900: #1e3a8a;
    --color-blue-800: #1e40af;
    --color-blue-700: #1d4ed8;
    --color-blue-600: #2563eb;
    --color-blue-500: #3b82f6;
    --color-blue-400: #60a5fa;
    --color-blue-300: #93c5fd;
    --color-blue-200: #bfdbfe;
    --color-blue-100: #dbeafe;
    --color-blue-50: #eff6ff;

    --color-purple-950: #3b0764;
    --color-purple-900: #581c87;
    --color-purple-800: #6b21a8;
    --color-purple-700: #7e22ce;
    --color-purple-600: #9333ea;
    --color-purple-500: #a855f7;
    --color-purple-400: #c084fc;
    --color-purple-300: #d8b4fe;
    --color-purple-200: #e9d5ff;
    --color-purple-100: #f3e8ff;
    --color-purple-50: #faf5ff;

    --color-indigo-950: #080b1f;
    --color-indigo-900: #1e2246;
    --color-indigo-800: #282e5b;
    --color-indigo-700: #303c70;
    --color-indigo-600: #404b89;
    --color-indigo-500: #4f5cb7;
    --color-indigo-400: #767bcd;
    --color-indigo-300: #9f9fdd;
    --color-indigo-200: #bbbae8;
    --color-indigo-100: #cbc9ed;
    --color-indigo-50: #f1f0fa;

  --bg: var(--color-indigo-50);
  --surface-bg: var(--color-blue-50);
  --base-fg: var(--color-indigo-900);
  --big-fg: var(--color-indigo-600);
  --link-accent: var(--color-indigo-700);
  --accent-low-ct: var(--color-indigo-100);
  }
}
