@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-normal.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-italic.woff2") format('woff2-variations');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}

