@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-normal.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-italic.woff2") format('woff2-variations');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}

// FLUID TYPE
// @link https://utopia.fyi/type/calculator?c=360,20,1.2,1280,26,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Step -2: 13.8889px → 14.6323px
  --step--2: clamp(0.8681rem, 0.8499rem + 0.0808vw, 0.9145rem);
  // Step -1: 16.6667px → 19.5049px
  --step--1: clamp(1.0417rem, 0.9723rem + 0.3085vw, 1.2191rem);
  // Step 0: 20px → 26px
  --step-0: clamp(1.25rem, 1.1033rem + 0.6522vw, 1.625rem);
  // Step 1: 24px → 34.658px
  --step-1: clamp(1.5rem, 1.2393rem + 1.1585vw, 2.1661rem);
  // Step 2: 28.8px → 46.1991px
  --step-2: clamp(1.8rem, 1.3745rem + 1.8912vw, 2.8874rem);
  // Step 3: 34.56px → 61.5834px
  --step-3: clamp(2.16rem, 1.4991rem + 2.9373vw, 3.849rem);
  // Step 4: 41.472px → 82.0907px
  --step-4: clamp(2.592rem, 1.5986rem + 4.4151vw, 5.1307rem);
  // Step 5: 49.7664px → 109.4269px
  --step-5: clamp(3.1104rem, 1.6513rem + 6.4848vw, 6.8392rem);
  // Step 6: 59.7197px → 145.8661px
  --step-6: clamp(3.7325rem, 1.6256rem + 9.3637vw, 9.1166rem);
}

// FLUID SPACE
/* @link https://utopia.fyi/space/calculator?c=360,20,1.2,1280,26,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  // Space 3xs: 5px → 7px
  --space-3xs: clamp(0.3125rem, 0.2636rem + 0.2174vw, 0.4375rem);
  // Space 2xs: 10px → 13px
  --space-2xs: clamp(0.625rem, 0.5516rem + 0.3261vw, 0.8125rem);
  // Space xs: 15px → 20px
  --space-xs: clamp(0.9375rem, 0.8152rem + 0.5435vw, 1.25rem);
  // Space s: 20px → 26px
  --space-s: clamp(1.25rem, 1.1033rem + 0.6522vw, 1.625rem);
  // Space m: 30px → 39px
  --space-m: clamp(1.875rem, 1.6549rem + 0.9783vw, 2.4375rem);
  // Space l: 40px → 52px
  --space-l: clamp(2.5rem, 2.2065rem + 1.3043vw, 3.25rem);
  // Space xl: 60px → 78px
  --space-xl: clamp(3.75rem, 3.3098rem + 1.9565vw, 4.875rem);
  // Space 2xl: 80px → 104px
  --space-2xl: clamp(5rem, 4.413rem + 2.6087vw, 6.5rem);
  // Space 3xl: 120px → 156px
  --space-3xl: clamp(7.5rem, 6.6196rem + 3.913vw, 9.75rem);

  // One-up pairs
  // Space 3xs-2xs: 5px → 13px
  --space-3xs-2xs: clamp(0.3125rem, 0.1168rem + 0.8696vw, 0.8125rem);
  // Space 2xs-xs: 10px → 20px
  --space-2xs-xs: clamp(0.625rem, 0.3804rem + 1.087vw, 1.25rem);
  // Space xs-s: 15px → 26px
  --space-xs-s: clamp(0.9375rem, 0.6685rem + 1.1957vw, 1.625rem);
  // Space s-m: 20px → 39px
  --space-s-m: clamp(1.25rem, 0.7853rem + 2.0652vw, 2.4375rem);
  // Space m-l: 30px → 52px
  --space-m-l: clamp(1.875rem, 1.337rem + 2.3913vw, 3.25rem);
  // Space l-xl: 40px → 78px
  --space-l-xl: clamp(2.5rem, 1.5707rem + 4.1304vw, 4.875rem);
  // Space xl-2xl: 60px → 104px
  --space-xl-2xl: clamp(3.75rem, 2.6739rem + 4.7826vw, 6.5rem);
  // Space 2xl-3xl: 80px → 156px
  --space-2xl-3xl: clamp(5rem, 3.1413rem + 8.2609vw, 9.75rem);

  // Custom pairs
  // Space s-l: 20px → 52px
  --space-s-l: clamp(1.25rem, 0.4674rem + 3.4783vw, 3.25rem);
}

:root {
  /* IBM Carbon v11, modified palette (2025-12-20T00:25:07.608Z) */
  --color-red-950: #fff1f1;
  --color-red-900: #ffd7d9;
  --color-red-800: #ffc5c9;
  --color-red-700: #ffb3b8;
  --color-red-600: #ff8389;
  --color-red-500: #fa4d56;
  --color-red-400: #da1e28;
  --color-red-300: #a2191f;
  --color-red-200: #750e13;
  --color-red-100: #520408;
  --color-red-50: #2d0709;

  --color-orange-950: #fff2e8;
  --color-orange-900: #ffd9be;
  --color-orange-800: #ffc8a2;
  --color-orange-700: #ffb784;
  --color-orange-600: #ff832b;
  --color-orange-500: #eb6200;
  --color-orange-400: #ba4e00;
  --color-orange-300: #8a3800;
  --color-orange-200: #5e2900;
  --color-orange-100: #3e1a00;
  --color-orange-50: #231000;

  --color-yellow-950: #fcf4d6;
  --color-yellow-900: #fddc69;
  --color-yellow-800: #f9cf2e;
  --color-yellow-700: #f1c21b;
  --color-yellow-600: #d2a106;
  --color-yellow-500: #b28600;
  --color-yellow-400: #8e6a00;
  --color-yellow-300: #684e00;
  --color-yellow-200: #483700;
  --color-yellow-100: #302400;
  --color-yellow-50: #1c1500;

  --color-green-950: #defbe6;
  --color-green-900: #a7f0ba;
  --color-green-800: #89e7a2;
  --color-green-700: #6fdc8c;
  --color-green-600: #42be65;
  --color-green-500: #24a148;
  --color-green-400: #198038;
  --color-green-300: #0e6027;
  --color-green-200: #044317;
  --color-green-100: #022d0d;
  --color-green-50: #071908;

  --color-blue-950: #edf5ff;
  --color-blue-900: #d0e2ff;
  --color-blue-800: #bbd5ff;
  --color-blue-700: #a6c8ff;
  --color-blue-600: #78a9ff;
  --color-blue-500: #4589ff;
  --color-blue-400: #0f62fe;
  --color-blue-300: #0043ce;
  --color-blue-200: #002d9c;
  --color-blue-100: #001d6c;
  --color-blue-50: #001141;

  --color-accent-950: #f6f2ff;
  --color-accent-900: #e8daff;
  --color-accent-800: #decaff;
  --color-accent-700: #d4bbff;
  --color-accent-600: #be95ff;
  --color-accent-500: #a56eff;
  --color-accent-400: #8a3ffc;
  --color-accent-300: #6929c4;
  --color-accent-200: #491d8b;
  --color-accent-100: #31135e;
  --color-accent-50: #1c0f30;

  --color-base-950: #fafafb /* locked */;
  --color-base-900: #f4f4f6 /* locked */;
  --color-base-800: #e6e7ec /* locked */;
  --color-base-700: #d3d4de /* locked */;
  --color-base-600: #9fa1b7 /* locked */;
  --color-base-500: #6c708f /* locked */;
  --color-base-400: #4f526e /* locked */;
  --color-base-300: #10111a /* locked */;
  --color-base-200: #0f1017 /* locked */;
  --color-base-100: #0f0f15 /* locked */;
  --color-base-50: #07070a /* locked */;

  --color-fg: var(--color-accent-950);
  --color-bg: var(--color-base-100);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-base-950: #07070a;
    --color-base-900: #0f0f15;
    --color-base-800: #0f1017;
    --color-base-700: #10111a /* locked */;
    --color-base-600: #4f526e;
    --color-base-500: #6c708f;
    --color-base-400: #9fa1b7;
    --color-base-300: #d3d4de;
    --color-base-200: #e6e7ec;
    --color-base-100: #f4f4f6;
    --color-base-50: #fafafb;

    /* IBM Carbon v11, modified palette (2025-12-20T00:25:35.254Z) */
    --color-red-950: #2d0709;
    --color-red-900: #520408;
    --color-red-800: #750e13;
    --color-red-700: #a2191f;
    --color-red-600: #da1e28;
    --color-red-500: #fa4d56;
    --color-red-400: #ff8389;
    --color-red-300: #ffb3b8;
    --color-red-200: #ffc5c9;
    --color-red-100: #ffd7d9;
    --color-red-50: #fff1f1;

    --color-orange-950: #231000;
    --color-orange-900: #3e1a00;
    --color-orange-800: #5e2900;
    --color-orange-700: #8a3800;
    --color-orange-600: #ba4e00;
    --color-orange-500: #eb6200;
    --color-orange-400: #ff832b;
    --color-orange-300: #ffb784;
    --color-orange-200: #ffc8a2;
    --color-orange-100: #ffd9be;
    --color-orange-50: #fff2e8;

    --color-yellow-950: #1c1500;
    --color-yellow-900: #302400;
    --color-yellow-800: #483700;
    --color-yellow-700: #684e00;
    --color-yellow-600: #8e6a00;
    --color-yellow-500: #b28600;
    --color-yellow-400: #d2a106;
    --color-yellow-300: #f1c21b;
    --color-yellow-200: #f9cf2e;
    --color-yellow-100: #fddc69;
    --color-yellow-50: #fcf4d6;

    --color-green-950: #071908;
    --color-green-900: #022d0d;
    --color-green-800: #044317;
    --color-green-700: #0e6027;
    --color-green-600: #198038;
    --color-green-500: #24a148;
    --color-green-400: #42be65;
    --color-green-300: #6fdc8c;
    --color-green-200: #89e7a2;
    --color-green-100: #a7f0ba;
    --color-green-50: #defbe6;

    --color-blue-950: #001141;
    --color-blue-900: #001d6c;
    --color-blue-800: #002d9c;
    --color-blue-700: #0043ce;
    --color-blue-600: #0f62fe;
    --color-blue-500: #4589ff;
    --color-blue-400: #78a9ff;
    --color-blue-300: #a6c8ff;
    --color-blue-200: #bbd5ff;
    --color-blue-100: #d0e2ff;
    --color-blue-50: #edf5ff;

    --color-accent-950: #1c0f30;
    --color-accent-900: #31135e;
    --color-accent-800: #491d8b;
    --color-accent-700: #6929c4;
    --color-accent-600: #8a3ffc;
    --color-accent-500: #a56eff;
    --color-accent-400: #be95ff;
    --color-accent-300: #d4bbff;
    --color-accent-200: #decaff;
    --color-accent-100: #e8daff;
    --color-accent-50: #f6f2ff;

    --color-base-950: #07070a;
    --color-base-900: #0f0f15;
    --color-base-800: #0f1017;
    --color-base-700: #10111a;
    --color-base-600: #4f526e;
    --color-base-500: #6c708f;
    --color-base-400: #9fa1b7;
    --color-base-300: #d3d4de;
    --color-base-200: #e6e7ec;
    --color-base-100: #f4f4f6;
    --color-base-50: #fafafb;

    --color-fg: var(--color-base-900);
    --color-bg: var(--color-base-200);
  }
}
