@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-normal.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-italic.woff2") format('woff2-variations');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}

// FLUID TYPE
// @link https://utopia.fyi/type/calculator?c=360,20,1.2,1280,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Step -2: 13.8889px → 13.5068px
  --step--2: clamp(0.8442rem, 0.8774rem + -0.0415vw, 0.8681rem);
  // Step -1: 16.6667px → 18.0045px
  --step--1: clamp(1.0417rem, 1.0089rem + 0.1454vw, 1.1253rem);
  // Step 0: 20px → 24px
  --step-0: clamp(1.25rem, 1.1522rem + 0.4348vw, 1.5rem);
  // Step 1: 24px → 31.992px
  --step-1: clamp(1.5rem, 1.3045rem + 0.8687vw, 1.9995rem);
  // Step 2: 28.8px → 42.6453px
  --step-2: clamp(1.8rem, 1.4614rem + 1.5049vw, 2.6653rem);
  // Step 3: 34.56px → 56.8462px
  --step-3: clamp(2.16rem, 1.615rem + 2.4224vw, 3.5529rem);
  // Step 4: 41.472px → 75.776px
  --step-4: clamp(2.592rem, 1.753rem + 3.7287vw, 4.736rem);
  // Step 5: 49.7664px → 101.0094px
  --step-5: clamp(3.1104rem, 1.8572rem + 5.5699vw, 6.3131rem);
}

// FLUID SPACE
// @link https://utopia.fyi/space/calculator?c=360,20,1.2,1280,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Space 3xs: 5px → 6px
  --space-3xs: clamp(0.3125rem, 0.288rem + 0.1087vw, 0.375rem);
  // Space 2xs: 10px → 12px
  --space-2xs: clamp(0.625rem, 0.5761rem + 0.2174vw, 0.75rem);
  // Space xs: 15px → 18px
  --space-xs: clamp(0.9375rem, 0.8641rem + 0.3261vw, 1.125rem);
  // Space s: 20px → 24px
  --space-s: clamp(1.25rem, 1.1522rem + 0.4348vw, 1.5rem);
  // Space m: 30px → 36px
  --space-m: clamp(1.875rem, 1.7283rem + 0.6522vw, 2.25rem);
  // Space l: 40px → 48px
  --space-l: clamp(2.5rem, 2.3043rem + 0.8696vw, 3rem);
  // Space xl: 60px → 72px
  --space-xl: clamp(3.75rem, 3.4565rem + 1.3043vw, 4.5rem);
  // Space 2xl: 80px → 96px
  --space-2xl: clamp(5rem, 4.6087rem + 1.7391vw, 6rem);
  // Space 3xl: 120px → 144px
  --space-3xl: clamp(7.5rem, 6.913rem + 2.6087vw, 9rem);

  // One-up pairs
  // Space 3xs-2xs: 5px → 12px
  --space-3xs-2xs: clamp(0.3125rem, 0.1413rem + 0.7609vw, 0.75rem);
  // Space 2xs-xs: 10px → 18px
  --space-2xs-xs: clamp(0.625rem, 0.4293rem + 0.8696vw, 1.125rem);
  // Space xs-s: 15px → 24px
  --space-xs-s: clamp(0.9375rem, 0.7174rem + 0.9783vw, 1.5rem);
  // Space s-m: 20px → 36px
  --space-s-m: clamp(1.25rem, 0.8587rem + 1.7391vw, 2.25rem);
  // Space m-l: 30px → 48px
  --space-m-l: clamp(1.875rem, 1.4348rem + 1.9565vw, 3rem);
  // Space l-xl: 40px → 72px
  --space-l-xl: clamp(2.5rem, 1.7174rem + 3.4783vw, 4.5rem);
  // Space xl-2xl: 60px → 96px
  --space-xl-2xl: clamp(3.75rem, 2.8696rem + 3.913vw, 6rem);
  // Space 2xl-3xl: 80px → 144px
  --space-2xl-3xl: clamp(5rem, 3.4348rem + 6.9565vw, 9rem);

  // Custom pairs
  // Space s-l: 20px → 48px
  --space-s-l: clamp(1.25rem, 0.5652rem + 3.0435vw, 3rem);
}
