@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-normal.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("../static/fonts/alegreya-latin-variable-wghtOnly-italic.woff2") format('woff2-variations');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}

// FLUID TYPE
// @link https://utopia.fyi/type/calculator?c=360,20,1.2,1280,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Step -2: 13.8889px → 13.5068px
  --step--2: clamp(0.8442rem, 0.8774rem + -0.0415vw, 0.8681rem);
  // Step -1: 16.6667px → 18.0045px
  --step--1: clamp(1.0417rem, 1.0089rem + 0.1454vw, 1.1253rem);
  // Step 0: 20px → 24px
  --step-0: clamp(1.25rem, 1.1522rem + 0.4348vw, 1.5rem);
  // Step 1: 24px → 31.992px
  --step-1: clamp(1.5rem, 1.3045rem + 0.8687vw, 1.9995rem);
  // Step 2: 28.8px → 42.6453px
  --step-2: clamp(1.8rem, 1.4614rem + 1.5049vw, 2.6653rem);
  // Step 3: 34.56px → 56.8462px
  --step-3: clamp(2.16rem, 1.615rem + 2.4224vw, 3.5529rem);
  // Step 4: 41.472px → 75.776px
  --step-4: clamp(2.592rem, 1.753rem + 3.7287vw, 4.736rem);
  // Step 5: 49.7664px → 101.0094px
  --step-5: clamp(3.1104rem, 1.8572rem + 5.5699vw, 6.3131rem);
}

// FLUID SPACE
// @link https://utopia.fyi/space/calculator?c=360,20,1.2,1280,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Space 3xs: 5px → 6px
  --space-3xs: clamp(0.3125rem, 0.288rem + 0.1087vw, 0.375rem);
  // Space 2xs: 10px → 12px
  --space-2xs: clamp(0.625rem, 0.5761rem + 0.2174vw, 0.75rem);
  // Space xs: 15px → 18px
  --space-xs: clamp(0.9375rem, 0.8641rem + 0.3261vw, 1.125rem);
  // Space s: 20px → 24px
  --space-s: clamp(1.25rem, 1.1522rem + 0.4348vw, 1.5rem);
  // Space m: 30px → 36px
  --space-m: clamp(1.875rem, 1.7283rem + 0.6522vw, 2.25rem);
  // Space l: 40px → 48px
  --space-l: clamp(2.5rem, 2.3043rem + 0.8696vw, 3rem);
  // Space xl: 60px → 72px
  --space-xl: clamp(3.75rem, 3.4565rem + 1.3043vw, 4.5rem);
  // Space 2xl: 80px → 96px
  --space-2xl: clamp(5rem, 4.6087rem + 1.7391vw, 6rem);
  // Space 3xl: 120px → 144px
  --space-3xl: clamp(7.5rem, 6.913rem + 2.6087vw, 9rem);

  // One-up pairs
  // Space 3xs-2xs: 5px → 12px
  --space-3xs-2xs: clamp(0.3125rem, 0.1413rem + 0.7609vw, 0.75rem);
  // Space 2xs-xs: 10px → 18px
  --space-2xs-xs: clamp(0.625rem, 0.4293rem + 0.8696vw, 1.125rem);
  // Space xs-s: 15px → 24px
  --space-xs-s: clamp(0.9375rem, 0.7174rem + 0.9783vw, 1.5rem);
  // Space s-m: 20px → 36px
  --space-s-m: clamp(1.25rem, 0.8587rem + 1.7391vw, 2.25rem);
  // Space m-l: 30px → 48px
  --space-m-l: clamp(1.875rem, 1.4348rem + 1.9565vw, 3rem);
  // Space l-xl: 40px → 72px
  --space-l-xl: clamp(2.5rem, 1.7174rem + 3.4783vw, 4.5rem);
  // Space xl-2xl: 60px → 96px
  --space-xl-2xl: clamp(3.75rem, 2.8696rem + 3.913vw, 6rem);
  // Space 2xl-3xl: 80px → 144px
  --space-2xl-3xl: clamp(5rem, 3.4348rem + 6.9565vw, 9rem);

  // Custom pairs
  // Space s-l: 20px → 48px
  --space-s-l: clamp(1.25rem, 0.5652rem + 3.0435vw, 3rem);
}

:root {
  /* IBM Carbon v11, modified palette (2025-12-20T00:25:07.608Z) */
  --color-red-950: #fff1f1;
  --color-red-900: #ffd7d9;
  --color-red-800: #ffc5c9;
  --color-red-700: #ffb3b8;
  --color-red-600: #ff8389;
  --color-red-500: #fa4d56;
  --color-red-400: #da1e28;
  --color-red-300: #a2191f;
  --color-red-200: #750e13;
  --color-red-100: #520408;
  --color-red-50: #2d0709;

  --color-orange-950: #fff2e8;
  --color-orange-900: #ffd9be;
  --color-orange-800: #ffc8a2;
  --color-orange-700: #ffb784;
  --color-orange-600: #ff832b;
  --color-orange-500: #eb6200;
  --color-orange-400: #ba4e00;
  --color-orange-300: #8a3800;
  --color-orange-200: #5e2900;
  --color-orange-100: #3e1a00;
  --color-orange-50: #231000;

  --color-yellow-950: #fcf4d6;
  --color-yellow-900: #fddc69;
  --color-yellow-800: #f9cf2e;
  --color-yellow-700: #f1c21b;
  --color-yellow-600: #d2a106;
  --color-yellow-500: #b28600;
  --color-yellow-400: #8e6a00;
  --color-yellow-300: #684e00;
  --color-yellow-200: #483700;
  --color-yellow-100: #302400;
  --color-yellow-50: #1c1500;

  --color-green-950: #defbe6;
  --color-green-900: #a7f0ba;
  --color-green-800: #89e7a2;
  --color-green-700: #6fdc8c;
  --color-green-600: #42be65;
  --color-green-500: #24a148;
  --color-green-400: #198038;
  --color-green-300: #0e6027;
  --color-green-200: #044317;
  --color-green-100: #022d0d;
  --color-green-50: #071908;

  --color-blue-950: #edf5ff;
  --color-blue-900: #d0e2ff;
  --color-blue-800: #bbd5ff;
  --color-blue-700: #a6c8ff;
  --color-blue-600: #78a9ff;
  --color-blue-500: #4589ff;
  --color-blue-400: #0f62fe;
  --color-blue-300: #0043ce;
  --color-blue-200: #002d9c;
  --color-blue-100: #001d6c;
  --color-blue-50: #001141;

  --color-accent-950: #f6f2ff;
  --color-accent-900: #e8daff;
  --color-accent-800: #decaff;
  --color-accent-700: #d4bbff;
  --color-accent-600: #be95ff;
  --color-accent-500: #a56eff;
  --color-accent-400: #8a3ffc;
  --color-accent-300: #6929c4;
  --color-accent-200: #491d8b;
  --color-accent-100: #31135e;
  --color-accent-50: #1c0f30;

  --color-fg: var(--color-accent-950);
  --color-bg: #0f0f15;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-base-950: #07070a;
    --color-base-900: #0f0f15;
    --color-base-800: #0f1017;
    --color-base-700: #10111a /* locked */;
    --color-base-600: #4f526e;
    --color-base-500: #6c708f;
    --color-base-400: #9fa1b7;
    --color-base-300: #d3d4de;
    --color-base-200: #e6e7ec;
    --color-base-100: #f4f4f6;
    --color-base-50: #fafafb;

    /* IBM Carbon v11, modified palette (2025-12-20T00:25:35.254Z) */
    --color-red-950: #2d0709;
    --color-red-900: #520408;
    --color-red-800: #750e13;
    --color-red-700: #a2191f;
    --color-red-600: #da1e28;
    --color-red-500: #fa4d56;
    --color-red-400: #ff8389;
    --color-red-300: #ffb3b8;
    --color-red-200: #ffc5c9;
    --color-red-100: #ffd7d9;
    --color-red-50: #fff1f1;

    --color-orange-950: #231000;
    --color-orange-900: #3e1a00;
    --color-orange-800: #5e2900;
    --color-orange-700: #8a3800;
    --color-orange-600: #ba4e00;
    --color-orange-500: #eb6200;
    --color-orange-400: #ff832b;
    --color-orange-300: #ffb784;
    --color-orange-200: #ffc8a2;
    --color-orange-100: #ffd9be;
    --color-orange-50: #fff2e8;

    --color-yellow-950: #1c1500;
    --color-yellow-900: #302400;
    --color-yellow-800: #483700;
    --color-yellow-700: #684e00;
    --color-yellow-600: #8e6a00;
    --color-yellow-500: #b28600;
    --color-yellow-400: #d2a106;
    --color-yellow-300: #f1c21b;
    --color-yellow-200: #f9cf2e;
    --color-yellow-100: #fddc69;
    --color-yellow-50: #fcf4d6;

    --color-green-950: #071908;
    --color-green-900: #022d0d;
    --color-green-800: #044317;
    --color-green-700: #0e6027;
    --color-green-600: #198038;
    --color-green-500: #24a148;
    --color-green-400: #42be65;
    --color-green-300: #6fdc8c;
    --color-green-200: #89e7a2;
    --color-green-100: #a7f0ba;
    --color-green-50: #defbe6;

    --color-blue-950: #001141;
    --color-blue-900: #001d6c;
    --color-blue-800: #002d9c;
    --color-blue-700: #0043ce;
    --color-blue-600: #0f62fe;
    --color-blue-500: #4589ff;
    --color-blue-400: #78a9ff;
    --color-blue-300: #a6c8ff;
    --color-blue-200: #bbd5ff;
    --color-blue-100: #d0e2ff;
    --color-blue-50: #edf5ff;

    --color-accent-950: #1c0f30;
    --color-accent-900: #31135e;
    --color-accent-800: #491d8b;
    --color-accent-700: #6929c4;
    --color-accent-600: #8a3ffc;
    --color-accent-500: #a56eff;
    --color-accent-400: #be95ff;
    --color-accent-300: #d4bbff;
    --color-accent-200: #decaff;
    --color-accent-100: #e8daff;
    --color-accent-50: #f6f2ff;

    --color-fg: #0f0f15;
    --color-bg: #f4f4f6;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg)
}

a {
  color: var(--color-accent-800);
  text-decoration: none;
}
