@use "colors";

// FLUID TYPE
// @link https://utopia.fyi/type/calculator?c=360,20,1.2,1280,26,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
:root {
  // Step -2: 13.8889px → 14.6323px
  --step--2: clamp(0.8681rem, 0.8499rem + 0.0808vw, 0.9145rem);
  // Step -1: 16.6667px → 19.5049px
  --step--1: clamp(1.0417rem, 0.9723rem + 0.3085vw, 1.2191rem);
  // Step 0: 20px → 26px
  --step-0: clamp(1.25rem, 1.1033rem + 0.6522vw, 1.625rem);
  // Step 1: 24px → 34.658px
  --step-1: clamp(1.5rem, 1.2393rem + 1.1585vw, 2.1661rem);
  // Step 2: 28.8px → 46.1991px
  --step-2: clamp(1.8rem, 1.3745rem + 1.8912vw, 2.8874rem);
  // Step 3: 34.56px → 61.5834px
  --step-3: clamp(2.16rem, 1.4991rem + 2.9373vw, 3.849rem);
  // Step 4: 41.472px → 82.0907px
  --step-4: clamp(2.592rem, 1.5986rem + 4.4151vw, 5.1307rem);
  // Step 5: 49.7664px → 109.4269px
  --step-5: clamp(3.1104rem, 1.6513rem + 6.4848vw, 6.8392rem);
  // Step 6: 59.7197px → 145.8661px
  --step-6: clamp(3.7325rem, 1.6256rem + 9.3637vw, 9.1166rem);
}

// FLUID SPACE
/* @link https://utopia.fyi/space/calculator?c=360,20,1.2,1280,26,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  // Space 3xs: 5px → 7px
  --space-3xs: clamp(0.3125rem, 0.2636rem + 0.2174vw, 0.4375rem);
  // Space 2xs: 10px → 13px
  --space-2xs: clamp(0.625rem, 0.5516rem + 0.3261vw, 0.8125rem);
  // Space xs: 15px → 20px
  --space-xs: clamp(0.9375rem, 0.8152rem + 0.5435vw, 1.25rem);
  // Space s: 20px → 26px
  --space-s: clamp(1.25rem, 1.1033rem + 0.6522vw, 1.625rem);
  // Space m: 30px → 39px
  --space-m: clamp(1.875rem, 1.6549rem + 0.9783vw, 2.4375rem);
  // Space l: 40px → 52px
  --space-l: clamp(2.5rem, 2.2065rem + 1.3043vw, 3.25rem);
  // Space xl: 60px → 78px
  --space-xl: clamp(3.75rem, 3.3098rem + 1.9565vw, 4.875rem);
  // Space 2xl: 80px → 104px
  --space-2xl: clamp(5rem, 4.413rem + 2.6087vw, 6.5rem);
  // Space 3xl: 120px → 156px
  --space-3xl: clamp(7.5rem, 6.6196rem + 3.913vw, 9.75rem);

  // One-up pairs
  // Space 3xs-2xs: 5px → 13px
  --space-3xs-2xs: clamp(0.3125rem, 0.1168rem + 0.8696vw, 0.8125rem);
  // Space 2xs-xs: 10px → 20px
  --space-2xs-xs: clamp(0.625rem, 0.3804rem + 1.087vw, 1.25rem);
  // Space xs-s: 15px → 26px
  --space-xs-s: clamp(0.9375rem, 0.6685rem + 1.1957vw, 1.625rem);
  // Space s-m: 20px → 39px
  --space-s-m: clamp(1.25rem, 0.7853rem + 2.0652vw, 2.4375rem);
  // Space m-l: 30px → 52px
  --space-m-l: clamp(1.875rem, 1.337rem + 2.3913vw, 3.25rem);
  // Space l-xl: 40px → 78px
  --space-l-xl: clamp(2.5rem, 1.5707rem + 4.1304vw, 4.875rem);
  // Space xl-2xl: 60px → 104px
  --space-xl-2xl: clamp(3.75rem, 2.6739rem + 4.7826vw, 6.5rem);
  // Space 2xl-3xl: 80px → 156px
  --space-2xl-3xl: clamp(5rem, 3.1413rem + 8.2609vw, 9.75rem);

  // Custom pairs
  // Space s-l: 20px → 52px
  --space-s-l: clamp(1.25rem, 0.4674rem + 3.4783vw, 3.25rem);
}

// https://bell.bz/my-favourite-3-lines-of-css/
// https://every-layout.dev/layouts/stack/
// every direct sibling child element of .stack has margin-block-start added to it.
// This is achieved by the Lobotomised Owl selector, but the > combinator is added to prevent margin being added recursively
@mixin flow-space {
    > * + * {
        margin-block-start: var(--flow-space, 1em);
    }
}
