@use "reset";
@use "global";

body {
    font-family: "Alegreya";
    font-size: var(--step-0);
    font-weight: 425;
    background-color: var(--color-bg);
    color: var(--color-fg)
}

::selection {
    background-color: var(--color-accent-100);
}

pre code {
    display: block;
    overflow-x: auto;
}

article {
    max-width: 95rem;
    display: grid;
    margin-inline: auto;
    grid-template-columns:
    minmax(20rem, 1fr)   // left gutter / toc space
    minmax(360px, 66ch)  // centered content column
    minmax(0, 1fr);      // right gutter

    grid-template-areas: 
    ". header ."
    "toc content .";

    header {
        grid-area: header;
        padding-block-end: 3em;

        h1 {
            font-size: var(--step-5);
        }
    }

    nav.toc {
        a {
            &:hover, &:focus {
                text-decoration: underline wavy var(--color-accent-700);
                text-decoration-thickness: 2px;
            }
        }
        grid-area: toc;
        padding-inline-end: var(--space-s-m);
        padding-block-start: var(--space-s-m);
        position: sticky;
        top: 0;
        align-self: self-start;

        ul {
            list-style: none;
            padding-left: 0;
        }
    }

    section.content {
        grid-area: content;

        // Font family for code is DejaVu Sans Mono
        // and it looks much bigger than Alegreya at same size,
        // which makes inline code look weird. To fix use one step less
        // for inline code, but keep step at 0 for multiline codes.
        code {
            font-size: var(--step--1);
        }

        pre code {
            font-size: var(--step-0);
        }

        h2 {
            font-size: var(--step-3);
        }
        h3 {
            font-size: var(--step-2);
        }
        h4 {
            font-size: var(--step-1);
        }

        a {
            &:hover, &:focus {
                text-decoration: underline wavy var(--color-accent-700);
                text-decoration-thickness: 2px;
            }


            &:visited {
                color: var(--color-yellow-950);

                &:hover, &:focus {
                    text-decoration-color: var(--color-yellow-900);
                }
            }
        }

        // https://bell.bz/my-favourite-3-lines-of-css/
        // https://every-layout.dev/layouts/stack/
        // every direct sibling child element of .stack has margin-block-start added to it.
        // This is achieved by the Lobotomised Owl selector, but the > combinator is added to prevent margin being added recursively
        > * + * {
            margin-block-start: var(--flow-space, 1.3em);
        }
    }
}
