@use "reset";
@use "fonts";
@use "global";

@mixin grid-layout {
    display: grid;
    grid-template-columns:
        1fr
        minmax(0, var(--space-l))
        minmax(0, var(--space-l))
        min(60ch, 100%)
        minmax(0, var(--space-l))
        minmax(0, var(--space-l))
        1fr;

    > * {
        grid-column: 4;
    }
}

body {
    font-family: "Alegreya";
    font-size: var(--step-0);
    background-color: var(--bg);
    color: var(--base-fg);
}

body div.navbar {
    @include grid-layout();
    padding-block-start: var(--space-2xs);
    padding-block-end: var(--space-s);
    margin-block-end: var(--space-m);
    > nav {
        display: flex;
        justify-content: space-between;
        margin-inline: var(--space-xs);
        grid-column: 2 / 6;
        font-size: var(--step-0);

        .links > a:not(:last-child) {
            margin-inline-end: var(--space-xs);
        }
    }
}

header.homepage-header {
    padding-block-end: 0;
}

main {
    margin-inline: var(--space-xs);
}

h1, h2, h3, h4 {
    color: var(--big-fg);
}

h1 {
    font-size: var(--step-5);
}
h2 {
    font-size: var(--step-3);
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}

::selection {
    background-color: var(--color-indigo-300);
}

a {
    color: var(--link-accent);

    &:hover  {
        background-color: var(--link-accent);
        color: var(--bg);
        text-decoration: none;
    }
    &:focus {
        border: solid 2px var(--link-accent);
        text-decoration: none;
    }
}

pre {
    padding: var(--space-2xs);
    border-radius: 5px;
    display: block;
    overflow-x: auto;
    line-height: 1.2;
}
// Font family for code is DejaVu Sans Mono
// and it looks much bigger than Alegreya at same size,
// which makes inline code look weird. To fix use one step less
// for inline code, but keep step at 0 for multiline codes.
code {
    font-size: var(--step--1);
    font-family: "JetBrains", monospace;
}

.code-container {
    border: 4px solid var(--color-gray-300);
    width: 100%;
    grid-column: 3 / 6 !important;
    border-radius: 8px;
    font-family: "JetBrains", monospace;
}

.code-header {
    background-color: var(--color-gray-300);
    font-size: var(--step--1);
    display: flex;

    .code-filename {
        padding-inline-start: 5px;
        width: fit-content;
        color: var(--color-gray-600);
        font-weight: bold;
    }
}

.linenumbers {
    counter-reset: step;
    counter-increment: step calc(var(--linestart, 1) - 1);
}

.linenumbers .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

p > code, li > code {
    background-color: var(--accent-low-ct);
    color: var(--link-accent);
    border-radius: 5px;
    padding: 3px;
}

nav.toc > ul {
    list-style: none;
    padding-left: 0;
    li {
        padding-block-end: .5em;
    }
}

img {
    width: 100%;
    height: 100%;
}

.grid-bleed, figure {
    width: 100%;
    grid-column: 3 / 6 !important;
}

.grid-full-bleed {
    width: 100%;
    grid-column: 1 / 8;
}

li p {
    margin-block-end: 1em;
}

article {
    @include grid-layout();
    --flow-space: .6em;
    @include global.flow-space();
    padding-block-end: 1.5em;
}

article > header {
    @include grid-layout();
    width: 100%;
    grid-column: 1 / 8;

    h1 {
        grid-column: 1 / 8;
        text-align: center;
    }

    time {
        padding-block-start: var(--space-xs);
    }
}
