@use "reset";
@use "global";

@mixin grid-layout {
    display: grid;
    grid-template-columns:
        1fr
        minmax(0, var(--space-l))
        minmax(0, var(--space-l))
        min(60ch, 100%)
        minmax(0, var(--space-l))
        minmax(0, var(--space-l))
        1fr;

    > * {
        grid-column: 4;
    }
}

body {
    font-family: "Alegreya";
    font-size: var(--step-0);
    background-color: var(--color-bg);
    color: var(--color-fg);
}

body div.navbar {
    @include grid-layout();
    padding-block-start: var(--space-2xs);
    padding-block-end: var(--space-s);
    > nav {
        margin-inline: var(--space-xs);
        grid-column: 2 / 6;
        font-size: var(--step-0);
    }
}

main {
    margin-inline: var(--space-xs);
}

h1 {
    font-size: var(--step-5);
}
h2 {
    font-size: var(--step-3);
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}

// https://bell.bz/my-favourite-3-lines-of-css/
// https://every-layout.dev/layouts/stack/
// every direct sibling child element of .stack has margin-block-start added to it.
// This is achieved by the Lobotomised Owl selector, but the > combinator is added to prevent margin being added recursively
.prose > * + * {
    margin-block-start: var(--flow-space, 1.3em);
}

article details {
    background-color: var(--color-base-300);
    max-width: 63ch;
    padding: var(--space-xs-s);
    border: 2px solid var(--color-base-400);
    border-radius: 5px;
    margin-block-end: 1.3em;

    ul {
        padding-block-start: var(--space-xs-s);
    }

    nav a:visited {
        color: var(--color-accent-700);
        &:hover {
            text-decoration: underline wavy var(--color-accent-700);
        }
    }
}

::selection {
    background-color: var(--color-accent-100);
}

a {
    color: var(--color-accent-700);
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline wavy var(--color-accent-700);
        text-decoration-thickness: 2px;
    }
}

pre {
    border: 2px solid var(--color-base-400);
    border-radius: 5px;
    display: block;
    overflow-x: auto;
}
// Font family for code is DejaVu Sans Mono
// and it looks much bigger than Alegreya at same size,
// which makes inline code look weird. To fix use one step less
// for inline code, but keep step at 0 for multiline codes.
code {
    font-size: var(--step--1);
}

p > code {
    background-color: var(--color-accent-50);
    color: var(--color-accent-700);
    border-radius: 5px;
    padding: 3px;
}

nav.toc > ul {
    list-style: none;
    padding-left: 0;
    li {
        padding-block-end: .5em;
    }
}

img {
    width: 100%;
    height: 100%;
}

.grid-bleed, figure {
    width: 100%;
    grid-column: 3 / 6 !important;
}

.grid-full-bleed {
    width: 100%;
    grid-column: 1 / 8;
}

main div.homepage {
    @include grid-layout();
}

main > article {
    @include grid-layout();
    header {
        width: 100%;
        padding-block-end: 3em;
        grid-column: 1 / 8;
        text-align: center;
    }

    a:visited {
        color: var(--color-yellow-950);

        &:hover, &:focus {
            text-decoration-color: var(--color-yellow-900);
        }
    }
}
