@use "reset";
@use "global";

body {
    font-family: "Alegreya";
    font-size: var(--step-0);
    font-weight: 425;
    background-color: var(--color-bg);
    color: var(--color-fg);

    > nav {
        display: flex;
        max-width: 65rem;
        margin-inline: auto;
        font-size: var(--step-1);
        justify-content: space-between;
        padding: var(--space-2xs) var(--space-s-m);
    }
}

main .main-wrapper {
    min-width: 360px;
    max-width: 65rem;
    margin-inline: auto;
    padding: var(--space-s-m);
    display: flex;
    flex-direction: column;
    align-content: center;
}

details {
    background-color: var(--color-base-300);
    max-width: 63ch;
    padding: var(--space-xs-s);
    border: 2px solid var(--color-base-400);
    border-radius: 5px;
    margin-block-end: 1.3em;

    ul {
        padding-block-start: var(--space-xs-s);
    }
}

::selection {
    background-color: var(--color-accent-100);
}

a {
    color: var(--color-accent-800);
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline wavy var(--color-accent-700);
        text-decoration-thickness: 2px;
    }
}

pre {
    border: 2px solid var(--color-base-400);
    border-radius: 5px;
    code {
        display: block;
        overflow-x: auto;
    }
}

nav.toc ul {
    list-style: none;
    padding-left: 0;
    li {
        padding-block-end: .5em;
    }
}

article {
    header {
        margin-inline: auto;
        padding-block-end: 3em;

        h1 {
            font-size: var(--step-5);
        }
    }

    section.main-content {
        // Font family for code is DejaVu Sans Mono
        // and it looks much bigger than Alegreya at same size,
        // which makes inline code look weird. To fix use one step less
        // for inline code, but keep step at 0 for multiline codes.
        code {
            font-size: var(--step--1);
        }

        pre code {
            font-size: var(--step-0);
        }

        h2 {
            font-size: var(--step-3);
        }
        h3 {
            font-size: var(--step-2);
        }
        h4 {
            font-size: var(--step-1);
        }

        .content {
            max-width: 66ch;
            a {
                &:visited {
                    color: var(--color-yellow-950);

                    &:hover, &:focus {
                        text-decoration-color: var(--color-yellow-900);
                    }
                }
            }
        }

        // https://bell.bz/my-favourite-3-lines-of-css/
        // https://every-layout.dev/layouts/stack/
        // every direct sibling child element of .stack has margin-block-start added to it.
        // This is achieved by the Lobotomised Owl selector, but the > combinator is added to prevent margin being added recursively
        .content > * + * {
            margin-block-start: var(--flow-space, 1.3em);
        }
    }
}
