@use "reset";
@use "global";

body {
    font-family: "Alegreya";
    font-size: var(--step-0);
    font-weight: 425;
}

article {
    header {
        h1 {
            font-size: var(--step-5);
        }
    }

    section.content {
        // Font family for code is DejaVu Sans Mono
        // and it looks much bigger than Alegreya at same size,
        // which makes inline code look weird. To fix use one step less
        // for inline code, but keep step at 0 for multiline codes.
        code {
            font-size: var(--step--1);
        }

        pre code {
            font-size: var(--step-0);
        }

        h2 {
            font-size: var(--step-3);
        }
        h3 {
            font-size: var(--step-2);
        }
        h4 {
            font-size: var(--step-1);
        }
    }
}
