@use "global";

article > ul {
  padding-inline-start: 0;
}

li {
  margin-block: var(--space-2xs);
  list-style: none;
  p {
    margin-block: 0;
  }
}

input {
  margin-block: var(--space-3xs);
  margin-inline-end: var(--space-2xs);
}

.todo-info {
  padding-block-start: var(--space-s);
  margin-inline-start: calc(20px + var(--space-2xs));
}
