{% set blog_pages = get_section(path="blog/_index.md") %}

{% for _, posts in blog_pages.pages | group_by(attribute="year") %}
<table class="archive-list">
    <tr>
        <th>Article</th>
        <th>Date</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            <a href="{{ post.permalink }}">
                {{ post.title }}
            </a>
        </td>
        <td>
            <time datetime="{{post.date}}">{{post.date}}</time>
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
