<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% block title %} {% endblock title %}
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/reset.css">
  <link rel="preload" href="./fonts/AtkinsonHyperlegibleNextVF-Variable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="icon" href="/favicon.jpg" type="image/jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div class="container">

      <nav>
          <div class="left-link">
            <a href="/"><strong>~rafaelmadriz.com</strong></a>
          </div>

          <!-- <div class="right-links"> -->
          <!--   <a href="/blog">Archive</a> -->
          <!-- </div> -->
      </nav>

      <main>
        <div class="content">
          {% block content %} {% endblock content %}
        </div>
      </main>

  </div>

</body>

</html>
