{% extends "base.html" %}
<!-- This page lists all blog posts -->

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->
  {% set blog_pages = get_section(path="blog/_index.md") %}

  {% for _, posts in blog_pages.pages | group_by(attribute="year") %}
      <ul class="archive-list">
        {% for post in posts %}
          <li>
            <a href="{{ post.permalink }}">{{ post.title }}</a> 
            <span>{{post.year}}</span>
          </li>
        {% endfor %}
      </ul>
  {% endfor %}

{% endblock content %}
