{% extends "base.html" %}

{% block title %} 
<title>Rafael Madriz</title>
{% endblock title %}

{% block content %}

<p>Salutations! I'm Rafael,</p>
<p>
Welcome to my corner of the internet. I'm currently in the proccess of building
my website. If you want to send any recommendation or want to get in touch, feel
free to send an email: <em>hello at rafaelmadriz.com</em>
</p>
<p>
You can also find me in <a rel="noopener" target="_blank" href="https://github.com/rafamadriz">Github</a> and <a rel="noopener" target="_blank" href="https://bsky.app/profile/rafaelmadriz.com">Bluesky</a>.
</p>

<h3>Articles</h3>

{% include "archive-list.html" %}

{{ section.content | safe }}

{% endblock content %}
